@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #f3f3f3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #cfcfcf;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-noto-sans-jp), sans-serif;
  font-feature-settings: "palt";
}
